body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.images{
    width: 700px; 
    height: 400px;
    border-radius: 8px; 
    display: flex;
    position: absolute;
    margin-top: 20px;
    align-items: first baseline;
}

.container {
    height: 500px;
    width: 450px;
    margin: 20px auto;
    padding: 20px;
    /* display: flexbox; */
    margin-right: 80px;
    border: 1px solid #ccc;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    box-shadow: 8px 8px 8px rgb(131, 133, 135);
}

.btn {
    margin-top: 20px;
    text-align: center;
}

.bike.details,
.customer.details {
    background-image: linear-gradient(to right,
	rgb(87, 146, 218),
	rgb(45, 206, 221));
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    box-shadow: 8px 8px 8px rgb(131, 133, 135);
}

.form-section {
    margin-top: 20px;
    padding: 20px;
}

.bike-box {
    margin-bottom: 20px;
}

.ele {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.clkbtn {
    background-image: linear-gradient(to right,
	rgb(87, 146, 218),
	rgb(45, 206, 221));
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 8px 8px 8px rgb(131, 133, 135);
    
}

.clkbtn:hover {
    background-color:#83ebf6;
}
