
<section class="text-black-600 body-font bg-gray-100">
  <br><br>
  <h2 class=" text-center text-2xl font-bold text-gray-900 sm:text-3xl">Our Services</h2>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-sky-400 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6 " src="assets\images\car.jpg" routerLink="/car" alt="content">
            <h2 class="text-lg text-gray-700 font-medium title-font mb-4">Car Insurance</h2>
             <p class="leading-relaxed text-base text-gray-700">Get insights into the growth and trends of the car insurance market in India over a 10-year period from 2015-2025.</p> 
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-sky-400 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets\images\dirt-bike-icon-symbol-sign-600nw-2249192387.webp" routerLink="/bike" alt="content">
            <h2 class="text-lg text-gray-700 font-medium title-font mb-4">Bike Insurance</h2>
            <p class="leading-relaxed text-base text-gray-700">Get insights into the growth and trends of the two-wheeler insurance market in India from 2014-2024.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-sky-400 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="/assets/images/5d93e8ea-a4fb-402a-b4a5-c00058392605.jpg" routerLink="health" alt="content">
            <h2 class="text-lg text-gray-700 font-medium title-font mb-4">Health Insurance</h2>
            <p class="leading-relaxed text-base text-gray-700">when India’s population stood at 1.39 billion,nearly 514 million people across India were covered under health insurance schemes.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-sky-400 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="/assets/images/81f70462-7be2-4a89-95fb-459d1c8c4f79.jpg" routerLink="/travel" alt="content">
              <h2 class="text-lg text-gray-700 font-medium title-font mb-4">Travel Insurance</h2>
            <p class="leading-relaxed text-base text-gray-700">Travel Insurance is designed to accompany you on all your travels; to help you travel smarter and safer. </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  